In [1]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [4]:
df=pd.DataFrame(data)

In [5]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [15]:
grpby_df = df.groupby('Company')

In [20]:
type(grpby_df)

pandas.core.groupby.generic.DataFrameGroupBy

In [33]:
df_trial = df.groupby('Company').sum().loc['FB']
df_trial

Sales    593
Name: FB, dtype: int64

In [ ]:
df_trial = df.groupby('Company').count().loc['FB']
df_trial

In [35]:
df_trial = df.groupby('Company').max()
df_trial

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

In [39]:
import numpy as np

In [50]:
print(np.shape(df.groupby('Sales').describe()))
df.groupby('Sales').describe().transpose()

(6, 8)

Sales               120      124   200   243   340    350
Company count         1        1     1     1     1      1
        unique        1        1     1     1     1      1
        top        GOOG     MSFT  GOOG    FB  MSFT     FB
        freq          1        1     1     1     1      1
Person  count         1        1     1     1     1      1
        unique        1        1     1     1     1      1
        top     Charlie  Vanessa   Sam  Carl   Amy  Sarah
        freq          1        1     1     1     1      1