In [5]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [6]:
arr ={'a':1,'b':2,'c':3}

In [7]:
labels = ['a','b','c']
mydata =[1,2,3]
arr = np.array(mydata)

In [8]:
pd.Series(labels,mydata)

1    a
2    b
3    c
dtype: object

In [9]:
print("\n","\b")
ser1 = pd.Series(['USA','UK','China','Russia'],index = [1,2,3,4])
print(ser1,"\n")
print(type(ser1))

 
1       USA
2        UK
3     China
4    Russia
dtype: object

<class 'pandas.core.series.Series'>

In [10]:
ser1 = pd.Series([1,2,5,4],index = ['USA','UK','China','Russia'],dtype=float)

In [11]:
ser2 = pd.Series([6,2,1,5],index = ['UK','China,','USA','Russia'],dtype=float)

In [12]:
print(ser1+ser2)

China     NaN
China,    NaN
Russia    9.0
UK        8.0
USA       2.0
dtype: float64

In [13]:
print(np.random.randn(10,5))
print("\n\n")
print(np.random.random(10))

[[ 7.58087956e-01  6.91821739e-01  2.81198244e-01  3.97026452e-01
   2.05253910e-01]
 [ 5.72759161e-01  8.43666897e-01  9.21038861e-01 -2.06182552e-01
   7.81960964e-01]
 [-6.49091806e-01 -1.16327424e-02  2.03245661e+00  1.68126151e+00
   8.52738140e-01]
 [ 1.02852203e+00  1.20433111e-03 -5.42472439e-01 -2.59851896e+00
  -2.46776341e+00]
 [ 1.84249210e-01 -1.17150004e-01 -1.15608998e+00 -1.14274665e+00
  -7.23465261e-01]
 [ 2.48515306e+00  5.04891313e-01  1.03466356e+00  1.86498052e+00
  -1.80506147e+00]
 [-1.89609602e-01  1.78022699e+00  5.55228618e-01 -1.34275750e-01
  -9.17379182e-01]
 [-4.18651211e-01  6.32047110e-01  1.28849172e+00  4.37464734e-01
   6.36176658e-01]
 [-6.42114421e-01 -1.29705239e+00  2.09809641e-01  1.60505263e+00
  -4.60611720e-01]
 [-9.65662887e-01 -4.32477859e-01 -2.86686429e-01  1.09614337e+00
   3.28619221e-01]]



[0.50184432 0.30347654 0.9720711  0.57688002 0.39295278 0.0404362
 0.14973015 0.88655712 0.60700221 0.15591732]

In [14]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [15]:
# from IPython.display import display, HTML
# display(HTML(df.to_html()))

In [16]:
df

          W         X         Y         Z
A  1.206300 -1.005824  0.763904 -1.273856
B  0.501301  1.991676 -1.912961 -0.512527
C  2.431115  0.492018  0.745503  0.694494
D -0.176340 -0.793818  0.844268 -0.689113
E -0.703942 -0.869132 -0.465110 -0.733428

In [17]:

print(df[['W','X']])

          W         X
A  1.206300 -1.005824
B  0.501301  1.991676
C  2.431115  0.492018
D -0.176340 -0.793818
E -0.703942 -0.869132

In [18]:
df['NEW'] =  df['W']+df['Y']

In [19]:
df

          W         X         Y         Z       NEW
A  1.206300 -1.005824  0.763904 -1.273856  1.970204
B  0.501301  1.991676 -1.912961 -0.512527 -1.411660
C  2.431115  0.492018  0.745503  0.694494  3.176619
D -0.176340 -0.793818  0.844268 -0.689113  0.667927
E -0.703942 -0.869132 -0.465110 -0.733428 -1.169051

In [20]:
#axis=1 is column axis=0 is row
#inplace=True is change the dataframe
df.drop('NEW',axis=1,inplace=True)

In [21]:
df

          W         X         Y         Z
A  1.206300 -1.005824  0.763904 -1.273856
B  0.501301  1.991676 -1.912961 -0.512527
C  2.431115  0.492018  0.745503  0.694494
D -0.176340 -0.793818  0.844268 -0.689113
E -0.703942 -0.869132 -0.465110 -0.733428

In [22]:
df.drop('E',axis=0)

          W         X         Y         Z
A  1.206300 -1.005824  0.763904 -1.273856
B  0.501301  1.991676 -1.912961 -0.512527
C  2.431115  0.492018  0.745503  0.694494
D -0.176340 -0.793818  0.844268 -0.689113

In [23]:
df.loc['A']

W    1.206300
X   -1.005824
Y    0.763904
Z   -1.273856
Name: A, dtype: float64

In [24]:
df.iloc[:]

          W         X         Y         Z
A  1.206300 -1.005824  0.763904 -1.273856
B  0.501301  1.991676 -1.912961 -0.512527
C  2.431115  0.492018  0.745503  0.694494
D -0.176340 -0.793818  0.844268 -0.689113
E -0.703942 -0.869132 -0.465110 -0.733428

In [25]:
df.iloc[1:3]

          W         X         Y         Z
B  0.501301  1.991676 -1.912961 -0.512527
C  2.431115  0.492018  0.745503  0.694494

In [26]:
df

          W         X         Y         Z
A  1.206300 -1.005824  0.763904 -1.273856
B  0.501301  1.991676 -1.912961 -0.512527
C  2.431115  0.492018  0.745503  0.694494
D -0.176340 -0.793818  0.844268 -0.689113
E -0.703942 -0.869132 -0.465110 -0.733428

In [27]:
df.loc['A',['W','X']]

W    1.206300
X   -1.005824
Name: A, dtype: float64

In [28]:
df.loc[['A','B'],['W','X']]

          W         X
A  1.206300 -1.005824
B  0.501301  1.991676

In [29]:
#Subset selection of a dataframe
df.loc[['C','D'],['X','Y']]

          X         Y
C  0.492018  0.745503
D -0.793818  0.844268

In [30]:
bool_df = df>0

In [31]:
bool_df

       W      X      Y      Z
A   True  False   True  False
B   True   True  False  False
C   True   True   True   True
D  False  False   True  False
E  False  False  False  False

In [32]:
df[bool_df]

          W         X         Y         Z
A  1.206300       NaN  0.763904       NaN
B  0.501301  1.991676       NaN       NaN
C  2.431115  0.492018  0.745503  0.694494
D       NaN       NaN  0.844268       NaN
E       NaN       NaN       NaN       NaN

In [33]:
df

          W         X         Y         Z
A  1.206300 -1.005824  0.763904 -1.273856
B  0.501301  1.991676 -1.912961 -0.512527
C  2.431115  0.492018  0.745503  0.694494
D -0.176340 -0.793818  0.844268 -0.689113
E -0.703942 -0.869132 -0.465110 -0.733428

In [34]:
df['W']

A    1.206300
B    0.501301
C    2.431115
D   -0.176340
E   -0.703942
Name: W, dtype: float64

In [35]:
df.loc['A']

W    1.206300
X   -1.005824
Y    0.763904
Z   -1.273856
Name: A, dtype: float64

In [36]:
df

          W         X         Y         Z
A  1.206300 -1.005824  0.763904 -1.273856
B  0.501301  1.991676 -1.912961 -0.512527
C  2.431115  0.492018  0.745503  0.694494
D -0.176340 -0.793818  0.844268 -0.689113
E -0.703942 -0.869132 -0.465110 -0.733428

In [39]:
bool_df=df>0
print(df[bool_df])

          W         X         Y         Z
A  1.206300       NaN  0.763904       NaN
B  0.501301  1.991676       NaN       NaN
C  2.431115  0.492018  0.745503  0.694494
D       NaN       NaN  0.844268       NaN
E       NaN       NaN       NaN       NaN

In [42]:
print(df['Z']<0)
df[df['Z']<0]

A     True
B     True
C    False
D     True
E     True
Name: Z, dtype: bool

          W         X         Y         Z
A  1.206300 -1.005824  0.763904 -1.273856
B  0.501301  1.991676 -1.912961 -0.512527
D -0.176340 -0.793818  0.844268 -0.689113
E -0.703942 -0.869132 -0.465110 -0.733428

In [44]:
np.random.seed(101)
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [57]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [56]:
df[df['Z']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [62]:
result=df[df['Z']>0]
print(result)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [61]:
result['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [63]:
#or 
df[df['Z']>0]['X']
#EQUIVALENT TO result=df[df['Z']>0]
#result['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [64]:
#or try
df[df['Z']>0][['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
D  0.188695 -0.758872
E  0.190794  1.978757

In [78]:
df[(df['Z']>0) | (df['Y']>1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [79]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [81]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [82]:
new_ind = "CA NY WY OR CO".split()

In [83]:
new_ind

['CA', 'NY', 'WY', 'OR', 'CO']

In [85]:
df['States']=new_ind

In [86]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [87]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [88]:
df['W_COPY']=df['W']

In [90]:
df.drop('W_COPY')

KeyError: "['W_COPY'] not found in axis"